language: python
python:
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7"
  - "3.7-dev" # 3.7 development branch
  - "3.8"
  - "3.8-dev" # 3.7 development branch
env:
  - GEVENT=true
  - GEVENT=false

install:
  - pip install gevent\<1.5.0 pytest-random-order
  # PyYaml 5.3 removed support for Python 3.4
  - |-
    if [[ $TRAVIS_PYTHON_VERSION = 3.4 ]]; then
      pip install PyYaml==5.2
    else
      pip install PyYaml
    fi
  - pip install sphinx==1.7.9 ghp-import

before_script:
  # we need this for test_ziplog, which parses ambiguous timestamps
  - export TZ=Asia/Jerusalem

script:
  - python -m pytest --random-order-bucket=package -vv test_package.py  # separate, since it mucks with imports
  - python -m pytest --random-order-bucket=package -vv tests
  - python -m pytest --random-order-bucket=package -vv --doctest-modules easypy

notifications:
    email:
        on_success: change
        on_failure: change

after_success: |-
  [[ $TRAVIS_JOB_NUMBER = *.1 ]] &&
  [ $TRAVIS_BRANCH = master ] &&
  [ $TRAVIS_PULL_REQUEST = false ] &&
  sphinx-apidoc -o _static easypy &&
  PYTHONPATH=`pwd`:$PYTHONPATH sphinx-build -M html "." "_build" &&
  echo "<meta http-equiv=refresh content=0;url=html/_static/easypy.html>" > _build/index.html &&
  export PATH=$HOME/.local/bin:$PATH &&
  ghp-import -n _build &&
  git push -fq https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages

deploy:
  provider: pypi
  user: "Ofer.Koren"
  password:
    secure: qWtk95KHG1Hf+iDPGFtgU5pwkMiZN2TL5dU2e7QN3DY6rRdHHgG8rPVlT/ZRDbwGHdmjJ3P5GZ5VybfclZk+FxYQuViacDLrRtB9ivf6+tgs1hflj30T8m4bad7uxLpKX82T2Sf/Z3bOdy1g+0Cp/Gzr6j7mpluOprcZhgsiW1xABOtH4TdY7ZceGC+caGFjS7Tjjj75T274pP8vqSCgrPclHUR+m1XWfWupOndS0lnCA0yrmoAwOmzIt03aS8Ye92ukzAPgj0hbUYvRhHPfouk45D83R4ERCJt3uMd4S2IO4nDUOUenQI6DZtaEEtkABv8wagMsUlAWd/OxTqcBboV16QjBt0uFnlI1GdAKAXt6Etc5XLbkafJ5H/FaoWdI2R3qrbu0r3FgTQIKh6msTb+2EsfAEyDrIiHpJ2BX7plcsx5liEDw5TZ3CELpnJJjMMJG1CW3R7YOmpziR+IVyqqHqDPS0aOe/FM+Dk18FXsvArMAmuO+CXLsQE1OYdgGztLhmz2tLXmMolukJOyCcCrXCah17TbUtgKV8NHpHs/wSgKCLLTcfPAwCEQnt15ciQywuSAqeg2Rk9K524XHZkWoj136vIc3+B9MhHo0XKNP3Z6SrRExV8wZZfSxELsmVhytMG1z5JxIuIEwO3bsSiazJTlRcfTWIiSOTTr9aRg=
  on:
    tags: true
  skip_existing: true
